.gallery_image {
	object-fit: cover;
	flex: 0 1 50%;
	width: 50%;
	height: 200px;
	padding: 10px;
}

@media screen and (min-width: 600px) {
	.gallery_image {
		height: 250px;
		flex: 0 1 33%;
		width: 33%;
	}
}

@media screen and (min-width: 1200px) {
	.gallery_image {
		height: 300px;
		flex: 0 1 25%;
		width: 25%;
	}
}