@import 'styles/typography';

.contact_info {
	padding-top: 10px;
	
	.contact_link {
		padding: 5px 20px;
		
		.icon_bubble {
			background-color: $grey-light;
			border-radius: 50%;
			width: 40px;
			height: 40px;
			position: relative;
		}
	
		.contact_icon {
			padding: 5px;
			margin: 3px;
		}
	
		.contact_text {
			padding-left: 10px;
			font-size: 14px;
		}
	}
}
