@import 'styles/typography';

.desktop_banner { 
	position: relative;
	border-bottom: 1px solid $grey-light;
	padding: 6px 15px;
	background-color: $white;

	.banner_link_wrapper {
		color: $grey-light;
		.banner_link {
			color: $dark-light;
			padding: 0 10px;
			cursor: pointer;
			font-size: 12px;

			&:hover {
				color: $grey;
			}
		}	
	}
}

.mobile_banner { 
	position: relative;
	padding: 6px 5px;
	background-color: $white;

	.banner_link_wrapper {
		color: $grey-light;
		margin: auto;
		width: 100%;
		.banner_link {
			color: $dark-light;
			padding: 0 6px;
			cursor: pointer;
			font-size: 11px;
			flex: 1 1 33%;
			&:hover {
				color: $grey;
			}
		}	
	}
}