@import 'styles/typography';

h1,
h2,
h3,
h4,
h5,
h6 {
  &.no-mb {
    margin-bottom: 0;
  }
}

.thin {
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

.serif, .cursive {
  font-family: $serif;
  font-weight: 500;

  &.thin {
    font-weight: 300;
  }
  
  &.bold {
    font-weight: 700;
  }
}

.cursive {
  font-style: italic;
}

.sans_serif {
  font-family: $sans-serif;
  font-weight: 400;

  &.thin {
    font-weight: 200;
  }
  
  &.bold {
    font-weight: 600;
  }
}

.underline {
  text-decoration: underline;
}

.link {
  cursor: pointer;
}

.legal {
  color: $grey;
}

.text_white {
  color: $white;
}

.text_grey {
  color: $grey;
}

.text_black {
  color: $black;
}

.animation {
  transition: .5s ease-in-out;
  transition-delay: .2s;

  &.animate_in_top {
    opacity: 0;
    transform: translateY(-50px);
  }

  &.animate_in_bottom {
    opacity: 0;
    transform: translateY(50px);
  }
  
  &.animate_in_left {
    opacity: 0;
    transform: translateX(-50px);
  }
  
  &.animate_in_right {
    opacity: 0;
    transform: translateX(50px);
  }

  &.animate_in_end {
    opacity: 1;
    transform: translate(0);
  }
}