@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&family=Open+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');

$primary: #8a2be2;
$primary-light: #af6eeb;
$primary-dark: #6317a9;

$secondary: #ff494e;
$secondary-light: #ff9698;
$secondary-dark: #fc0007;

$tertiary: green;
$tertiary-light: darkgreen;
$tertiary-dark: lightgreen;

$white: #F4F3F2;
$grey-light: #D1CDC9;
$grey: #968E85;
$dark-light: #544e49;
$black: #2B2825;
$serif: 'Cormorant Garamond', serif;
$sans-serif: 'Montserrat', sans-serif;
$special: 'Cormorant Garamond', serif;
